name: CI

on:
  push:
    branches:
      - '**'

jobs:
  test_and_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: npm ci
      - run: npm run check

      - name: 'Build web app artifacts'
        run: |
          npm run build
          npm run build:storybook -- --output-dir dist/storybook

      - uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: dist
